@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

div {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
}
